In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('imdb.csv')

In [3]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [5]:
data.isnull().any()

review       False
sentiment    False
dtype: bool

In [6]:
data.isnull().sum()

review       0
sentiment    0
dtype: int64

In [7]:
data['sentiment'].value_counts()

positive    25000
negative    25000
Name: sentiment, dtype: int64

In [8]:
#text normalization

In [9]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
!pip install wordcloud
!pip install spacy

Requirement already satisfied: wordcloud in c:\users\tanish raj singh\anaconda3\lib\site-packages (1.9.2)
Requirement already satisfied: numpy>=1.6.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from wordcloud) (1.23.5)
Requirement already satisfied: pillow in c:\users\tanish raj singh\anaconda3\lib\site-packages (from wordcloud) (9.4.0)
Requirement already satisfied: matplotlib in c:\users\tanish raj singh\anaconda3\lib\site-packages (from wordcloud) (3.7.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (22.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.0.5)
Requirement already satisfied: six>=1.5 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Requirement already satisfied: spacy in c:\users\tanish raj singh\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (1.10.9)
Requirement already satisfied: packaging>=20.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (22.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (1.0.4)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (2.4.6)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (5.2.1)
Requirement already satisfied: setuptools in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (65.6.3)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (3.3.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (3.0.12)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (8.1.10)
Requirement already satisfied: jinja2 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (3.1.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (3.0.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (2.0.8)
Requirement already satisfied: numpy>=1.15.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (1.23.5)
Requirement already satisfied: pathy>=0.10.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (0.10.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (2.0.7)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (1.1.2)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (0.7.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (1.0.9)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (4.64.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from spacy) (2.28.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.4.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.7.9)
Requirement already satisfied: colorama in c:\users\tanish raj singh\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from typer<0.8.0,>=0.3.0->spacy) (8.0.4)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from jinja2->spacy) (2.1.1)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer 
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer 
from nltk.tokenize import word_tokenize, sent_tokenize

In [11]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\tanish raj singh\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in c:\users\tanish raj singh\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\tanish raj singh\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.7.9)
Requirement already satisfied: click in c:\users\tanish raj singh\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\users\tanish raj singh\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.1)
Requirement already satisfied: colorama in c:\users\tanish raj singh\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.6)

In [12]:
import spacy
import re,string,unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from textblob import TextBlob
from textblob import Word
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from bs4 import BeautifulSoup

In [13]:
import nltk

In [14]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [15]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Tanish Raj
[nltk_data]     Singh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
tokenizers= ToktokTokenizer()

In [17]:
stopwords= nltk.corpus.stopwords.words('english')

In [18]:
def noiseremoval_text(text):
    soup= BeautifulSoup(text,"html.parser")
    text= soup.get_text()
    text= re.sub('\[[^]]*\]', ' ',text)
    return text

In [19]:
data['review']= data['review'].apply(noiseremoval_text)

C:\Users\Tanish Raj Singh\anaconda3\lib\site-packages\bs4\__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

In [20]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [21]:
data.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [22]:
#stemming

In [23]:
#Stemming the text
def stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

In [24]:

data['review']=data['review'].apply(stemmer)

In [25]:
data.head()

                                              review sentiment
0  one of the other review ha mention that after ...  positive
1  a wonder littl production. the film techniqu i...  positive
2  i thought thi wa a wonder way to spend time on...  positive
3  basic there' a famili where a littl boy (jake)...  negative
4  petter mattei' "love in the time of money" is ...  positive

In [26]:
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize

In [27]:
#set stopwords to english

stop_wr=set(stopwords.words('english'))
print(stop_wr)

{'yours', 'if', 've', 'as', "mustn't", 'until', 'their', 'me', 'wouldn', 'mustn', 'when', 'yourself', 'against', 'doesn', 'all', 'will', 'here', 'both', 'most', "doesn't", 'mightn', "she's", 'more', 'such', 'over', 'can', 'who', 'very', 'hasn', "you're", 'you', 'nor', 'how', 'during', 'each', 'y', 'ours', 'in', 'having', "wouldn't", 'same', 'be', 'and', "wasn't", "that'll", 'those', 'are', 'being', 'out', 'no', 'off', "should've", 'own', 'were', 'wasn', 'was', "mightn't", 'then', "didn't", 'isn', 'weren', 'couldn', 'the', 'this', 'once', 'our', "aren't", 'your', 'm', 'an', "shouldn't", 'other', 'her', "hasn't", 'yourselves', "won't", 'should', 'where', "you've", 'to', 'by', 'herself', "weren't", 'is', 'don', "it's", 'down', 'at', 'too', 'while', 'them', 'its', 'about', 'himself', 'doing', 'for', 'does', 'his', 'some', 's', 'hadn', 'that', 'not', 'needn', 'whom', 'has', 'my', "couldn't", 'with', 'a', 'only', 'they', 'but', 'between', 'on', 'below', 'o', 'do', 'few', 'so', 'have', 'from', 'had', 'did', "isn't", "you'd", 'am', 'before', "don't", 'aren', 'up', "hadn't", 'again', 'him', 'theirs', "needn't", 'he', 'now', 'shouldn', 'or', 't', 'myself', "you'll", 'she', 'after', 'shan', 'of', 'into', 're', 'under', 'than', 'through', 'above', 'there', 'll', 'which', 'any', 'themselves', 'what', 'we', 'i', 'been', 'these', 'didn', 'because', 'ma', 'why', 'just', 'haven', 'itself', 'hers', 'won', "haven't", 'it', 'ourselves', 'further', 'ain', "shan't", 'd'}

In [28]:
#removing the stopwords
def removing_stopwords(text, is_lower_case=False):
    #Tokenization of text
    tokenizers=ToktokTokenizer()
    #Setting English stopwords
    tokens = tokenizers.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filter_tokens = [token for token in tokens if token not in stop_wr]
    else:
        filter_tokens = [token for token in tokens if token.lower() not in stop_wr]
    filtered_text = ' '.join(filter_tokens)    
    return filtered_text

In [29]:
data['review']=data['review'].apply(removing_stopwords)

In [30]:
data.head()

                                              review sentiment
0  one review ha mention watch 1 oz episod ' hook...  positive
1  wonder littl production. film techniqu veri un...  positive
2  thought thi wa wonder way spend time hot summe...  positive
3  basic ' famili littl boy ( jake ) think ' zomb...  negative
4  petter mattei ' " love time money " visual stu...  positive

In [31]:
#split the dataset  
#train dataset
train_reviews_data=data.review[:30000]

In [32]:
#test dataset

test_reviews_data=data.review[30000:]

In [33]:
#Count vectorizer for bag of words
cv=CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))
#transformed train reviews
cv_train=cv.fit_transform(train_reviews_data)
#transformed test reviews
cv_test=cv.transform(test_reviews_data)

print('BOW_cv_train:',cv_train.shape)
print('BOW_cv_test:',cv_test.shape)
#vocab=cv.get_feature_names()-toget feature names

BOW_cv_train: (30000, 4954551)
BOW_cv_test: (20000, 4954551)

In [34]:
#Tfidf vectorizer
tf=TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))
#transformed train reviews
tf_train=tf.fit_transform(train_reviews_data)
#transformed test reviews
tf_test=tf.transform(test_reviews_data)
print('Tfidf_train:',tf_train.shape)
print('Tfidf_test:',tf_test.shape)

Tfidf_train: (30000, 4954551)
Tfidf_test: (20000, 4954551)

In [35]:
#labeling the sentient data
label=LabelBinarizer()
#transformed sentiment data
sentiment_data=label.fit_transform(data['sentiment'])
print(sentiment_data.shape)

(50000, 1)

In [36]:
train_data=data.sentiment[:30000]

In [37]:
test_data=data.sentiment[30000:]

In [38]:
#training the model
logistic=LogisticRegression(penalty='l2',max_iter=500,C=1,random_state=42)
#Fitting the model for Bag of words
lr_bow=logistic.fit(cv_train,train_data)
print(lr_bow)
#Fitting the model for tfidf features
lr_tfidf=logistic.fit(tf_train,train_data)
print(lr_tfidf)

LogisticRegression(C=1, max_iter=500, random_state=42)
LogisticRegression(C=1, max_iter=500, random_state=42)

In [39]:
#Predicting the model for bag of words
lr_bow_predict=logistic.predict(cv_test)
print(lr_bow_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [40]:
##Predicting the model for tfidf features
lr_tfidf_predict=logistic.predict(tf_test)
print(lr_tfidf_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [41]:
#Accuracy score for bag of words
lr_bow_score=accuracy_score(test_data,lr_bow_predict)
print("lr_bow_score :",lr_bow_score)

lr_bow_score : 0.7425

In [42]:
#Accuracy score for tfidf features
lr_tfidf_score=accuracy_score(test_data,lr_tfidf_predict)
print("lr_tfidf_score :",lr_tfidf_score)

lr_tfidf_score : 0.7426

In [1]:
#end